@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN.ttf);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Black.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Bold.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Medium.ttf);
  font-weight: 400;
  font-display: swap;
}

@layer base {
  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-normal text-4xl;
  }

  h3 {
    @apply font-bold text-2xl;
  }

  p {
    @apply font-light text-xl;
  }

  span {
    @apply font-light text-lg;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
