@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN.ttf);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Black.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Bold.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(/fonts/DIN-Medium.ttf);
  font-weight: 400;
  font-display: swap;
}

@layer base {
  h1 {
    @apply font-medium lg:text-5xl text-4xl transition-all;
  }

  h2 {
    @apply font-medium lg:text-2xl text-xl transition-all;
  }

  p {
    @apply font-light lg:text-xl text-lg transition-all;
  }

  strong {
    @apply font-normal lg:text-4xl text-3xl transition-all;
  }

  small {
    @apply font-light lg:text-lg text-base transition-all;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
